<!doctype html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
                               integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
                               crossorigin="anonymous">
        <link rel="stylesheet" href=".\static\style.css">

        <title>Dinuc calc GenBank</title>
    </head>
    <body>
        <div class="container">
            <div class="row top30 bottom30 rows">
                <h2>Calculate genome dinucleotide frq in two frames.</h2>
            </div>
            <div class='row top20 text-center'>
                <div class="col-sm-3 border-right">
                    <div><b>Access id:</b></br>
                        <textarea class="textarea-acc">
                            {% for line in file_lines %}
                                {{line}}
                            {% endfor %}
                        </textarea>
                    </div>
                </div>
                <div class="col-sm-9 border-right">
                    <div><b>Calc output:</b></br>
                        <textarea class="textarea-res">

                        </textarea>
                </div>

            </div>
        </div>
    </body>
</html>

